
 @import url("https://use.typekit.net/zbq4ktc.css");

 /* font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;
    
    font-family: century-gothic, sans-serif;
    font-weight: 700;
    font-style: normal;*/

    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

    /*
    font-family: 'Mulish', sans-serif;
    font-weight: 400;

    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
 }

html {
  scroll-behavior: smooth;
}

.projects-half {
  height: 2.5rem;
  width: 1.25rem;
  border-radius: 0 100rem 100rem 0;
  
}

.projects-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100rem;
  border: 1px solid rgba(240, 55, 165, 0.5);
}

.one {
  background-color: rgba(240, 55, 165, 0.5);
}

.two {
  background-color: rgba(0, 188, 212, 0.5);
}

.portfolio-text {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.project-thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: red;
}

.thumbnail {
  position: relative;
  background-color: blue;
}

.thumbnail img {
  min-height: 100%;
}

.thumbnail-text {
  position: absolute;
  max-width: 100%;
  bottom: 25%;
  display: flex;
  flex-direction: row;
}

.thumbnail-text h2 {
  font-size: 4rem;
  line-height: 5rem;
  max-width: 6.5rem;
  text-align: center;
  background-color: #000;
  height: 5rem;
}


.shape {
  background-color: #00BCD4;
  width: 6.5rem;
  height: 3.25rem;
  border-radius: 0  0 10rem 10rem;
  opacity: 0.5;
}

.thumbnail-text p {
  background-color: orange;
  padding-top: 3rem;
}






/****** tablet ******/

@media (min-width: 1024px){

  .projects-half {
    height: 5rem;
    width: 2.5rem;
  }

  .projects-circle {
    height: 5rem;
    width: 5rem;
    border: 1.5px solid rgba(240, 55, 165, 0.5);
  }

  .portfolio-text {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

/****** desktop ******/

@media (min-width: 1200px){

  .projects-half {
    height: 6rem;
    width: 3rem;
  }

  .projects-circle {
    height: 6rem;
    width: 6rem;
    border: 2px solid rgba(240, 55, 165, 0.5);
  }

}